/node_modules
/vendor
/tests
/new
/storage/framework/cache/*
/storage/database
/storage/logs/*
.git

.env
.env.example
.dockerignore
Dockerfile
Dockerfile.dockerfile
Dockerfile-multi.dockerfile
docker-compose.yml
*.log
*.xml
*.neon
*.yml
*.yaml
*.md
*.bat
.editorconfig

supervisord.pid

#/docker
_ide_helper.php
_ide_helper_models.php
cz.yaml
.coderabbit.yaml
artisan.bat
pint.json
